<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.mapper.JdGoodsMapper">
  <resultMap id="BaseResultMap" type="com.fun.entity.JdGoods">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="GOODS_ID" jdbcType="VARCHAR" property="goodsId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SHOP_NAME" jdbcType="VARCHAR" property="shopName" />
    <result column="COMMENTS_NUM" jdbcType="INTEGER" property="commentsNum" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="SELF_OPERATED" jdbcType="VARCHAR" property="selfOperated" />
    <result column="LINK" jdbcType="VARCHAR" property="link" />
    <result column="GOOD_RATE" jdbcType="DECIMAL" property="goodRate" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="SALE_ORDER" jdbcType="INTEGER" property="saleOrder" />
  </resultMap>

    <insert id="batchInsert">
        INSERT INTO JD_GOODS
        VALUES
        <foreach collection="goodsList" index="index" item="item" separator=",">
            (#{item.goodsId, jdbcType=VARCHAR},
            #{item.name, jdbcType=VARCHAR},
            #{item.shopName, jdbcType=VARCHAR},
            #{item.commentsNum, jdbcType=INTEGER},
            #{item.price, jdbcType=DECIMAL},
            #{item.selfOperated, jdbcType=VARCHAR},
            #{item.link, jdbcType=VARCHAR},
            #{item.goodRate, jdbcType=DECIMAL},
            #{item.category, jdbcType=VARCHAR},
            #{item.saleOrder, jdbcType=INTEGER})
        </foreach>
    </insert>

    <!--<update id="batchUpdate">-->
        <!--<foreach collection="list" item="item" index="index" separator=";">-->
            <!--UPDATE JD_GOODS-->
            <!--<set>-->
                <!--test=${item.test}+1-->
            <!--</set>-->
            <!--WHERE id = ${item.id}-->
        <!--</foreach>-->
    <!--</update>-->
</mapper>